:root {
  --bg_color: rgb(240, 248, 255);
  --color_Text: #62cdff;
  --black: rgb(14, 13, 13);
  --title_color: #05c1ff;
  --darkBgColor: #121212;
  --dark_Text: #19a7ce;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.4s;
  user-select: none;
  outline: none;
}
::-webkit-scrollbar {
  background: gray;
}
::-webkit-scrollbar-thumb {
  background: var(--dark_Text);
  border-radius: 2rem;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--title_color);
}


/* curoser */
.curoser{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  transform: translate3d(-50%,-50%,0);
  top: 0;
  left: 0;
  background: var(--color_Text);
  z-index: -1;
}

.curoser-lazy{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid var(--color_Text);
  position: absolute;
  transform: translate3d(-50%,-50%,0);
  transition: 0.10ms ease-out;
  z-index: -1;
}
html {
  font-size: 12px;
  scroll-behavior: smooth;
}
body {
  font-family: revert;
  background: rgb(240, 248, 255);
  color: var(--black);
  font-family: monospace;
}
strong {
  color: #62cdff;
  font-weight: 800;
  text-transform: capitalize;
}
.container {
  width: auto;
  overflow: hidden;
}
.logo{
  cursor: pointer;
  margin-top: 5rem;
  height: 15rem;
}
section {
  min-height: 80vh;
}
.sec-1 {
  height: 140vh;
}
ul {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 1rem;
}
ul div {
  font-size: 3.5rem;
  position: absolute;
  left: 0;
  margin: 1rem;
}
ul li {
  margin: 1rem;
  list-style: none;
}
ul li a {
  text-decoration: none;
  font-size: 2.5rem;
  color: var(--black);
  text-transform: capitalize;
}
ul li a:hover {
  color: var(--color_Text);
}
.color{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 3rem;
  width: 5rem;
  background-color:#05c1ff;
  border: none;
  cursor: pointer;
  border-radius: 15px;
}
.color::-webkit-color-swatch {
  border-radius: 15px;
  border: none;
}

.home {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px,1fr));
  grid-template-rows: 29em 14em auto auto auto auto;
}
section .title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.title h1{
  font-size: 4rem;
  margin-top: 20rem;
  padding: 2rem;
  text-transform: capitalize;
}
.title h1 .first{
  font-size: 3rem;
}
.title h1 .secound{
  font-size: 4rem;
}
.title h1 .last{
  font-size: 3rem;
}
::selection {
  background-color: var(--color_Text);
  color: var(--bg_color);
}

section .animate {
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  height: 12rem;
  width: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-left: 19px;
  margin-top: 6rem;
  background: var(--color_Text);
  animation: ball 6s infinite;
  grid-row: 2;
}
section .animate i {
  font-size: 5rem;
}
section .animate:hover {
  background: #2f58cd;
  color: aqua;
  cursor: pointer;
  box-shadow: 0px 0px 10px 11px #2f58cd;
  opacity: 0.5;
}
@keyframes ball {
  0%,
  100% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
  10% {
    border-radius: 30% 70% 60% 40% / 40% 23% 77% 60%;
  }
  20% {
    border-radius: 30% 70% 60% 40% / 51% 33% 67% 49%;
  }
  30% {
    border-radius: 12% 88% 33% 67% / 60% 19% 81% 40%;
  }
  40% {
    border-radius: 1% 99% 5% 95% / 76% 8% 92% 24%;
  }
  50% {
    border-radius: 1% 99% 5% 95% / 100% 0% 100% 0%;
  }
  60% {
    border-radius: 1% 99% 0% 100% / 100% 0% 100% 0%;
  }
  70% {
    border-radius: 18% 82% 36% 64% / 51% 37% 63% 49%;
  }
  80% {
    border-radius: 18% 82% 33% 67% / 66% 37% 63% 34%;
  }
  90% {
    border-radius: 18% 82% 33% 67% / 78% 46% 54% 22%;
  }
}

.home img {
  display: flex;
  height: 30rem;
  width: auto;
  margin: 13rem 0rem 0rem 9rem;
  border-radius: 50%;
  animation: profile 6s infinite;
}

@keyframes profile {
  0%,
  100% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
  10% {
    border-radius: 30% 70% 60% 40% / 40% 23% 77% 60%;
  }
  20% {
    border-radius: 30% 70% 60% 40% / 51% 33% 67% 49%;
  }
  30% {
    border-radius: 12% 88% 33% 67% / 60% 19% 81% 40%;
  }
  40% {
    border-radius: 1% 99% 5% 95% / 76% 8% 92% 24%;
  }
  50% {
    border-radius: 1% 99% 5% 95% / 100% 0% 100% 0%;
  }
  60% {
    border-radius: 1% 99% 0% 100% / 100% 0% 100% 0%;
  }
  70% {
    border-radius: 18% 82% 36% 64% / 51% 37% 63% 49%;
  }
  80% {
    border-radius: 18% 82% 33% 67% / 66% 37% 63% 34%;
  }
  90% {
    border-radius: 18% 82% 33% 67% / 78% 46% 54% 22%;
  }
}

/* about */
.sec {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 92%);
  background-color: #f6f1f1;
}
.about {
  height: 6rem;
  width: 13rem;
  margin: 5.5rem auto;
  font-size: 5rem;
  text-transform: capitalize;
  color: var(--title_color);
  position: relative;
}
.about::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 7px;
  background: var(--color_Text);
}
.about:hover::before {
  animation: about 2s infinite;
}
@keyframes about {
  0% {
    width: 100%;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}
.All_about {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
}
.All_about img {
  height: 33rem;
  width: auto;
  margin-left: 2rem;
  padding: 2rem;
  border-radius: 3rem;
}
.All_about p {
  width: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.9rem;
  margin-bottom: 5rem;

}

/* skills */

.skills {
  height: 6rem;
  width: 12rem;
  margin: 5.5rem auto;
  font-size: 5rem;
  text-transform: capitalize;
  color: var(--title_color);
  position: relative;
}

.skills::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 7px;
  background: var(--color_Text);
}
.skills:hover::before {
  animation: skills 2s infinite;
}
@keyframes skills {
  0% {
    width: 100%;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}

.All_skills {
  display: grid;
  width: 31rem;
  margin: auto;
  gap: 10rem;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.All_skills div img {
  height: 10rem;
  width: 10rem;
  margin: auto auto;
  cursor: pointer;
}

.contact {
  height: 7rem;
  width: 21rem;
  margin: 4rem auto;
  font-size: 5rem;
  text-transform: capitalize;
  color: var(--title_color);
  position: relative;
}
.contact::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 77%;
  height: 7px;
  background: var(--color_Text);
}
.contact:hover::before {
  animation: contact 2s infinite;
}
@keyframes contact {
  0% {
    width: 77%;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 77%;
  }
}
.question {
  height: 7rem;
  width: fit-content;
  margin: 4rem auto;
  font-size: 5rem;
  text-transform: capitalize;
  color: var(--title_color);
  position: relative;
}
.All_contact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.All_contact div i {
  font-size: 33rem;
  padding: 2rem;
  width: auto;
  margin: 2rem 2rem 1rem 5rem;
  color: var(--color_Text);
  background: #b7deed;
  background: linear-gradient(to right, #b7deed 23%, #21b4e2 100%, #b7deed 82%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
form {
  height: 30rem;
  width: 30rem;
  margin-top: 5rem;
  background: red;
  display: grid;
  position: relative;
  gap: 1rem;
  border: none;
  outline: none;
  background: transparent;
}

form button {
  border-radius: 17px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 2rem;
  padding: 6px 13px;
  border: none;
  background: var(--color_Text);
  box-shadow: 0rem 0rem 3rem 0rem var(--color_Text);
}
form button:hover {
  color: var(--black);
  background: aqua;
  box-shadow: 0rem 0rem 3rem 0rem aqua;
}
form .input {
  border: none;
}
form textarea {
  border: none;
}
footer{
  height: 20vh;
  background: var(--darkBgColor);
  align-items: center;
  border-top: 10px double var(--color_Text);
  border-bottom: 10px double var(--color_Text);
}
footer p{
  text-align: center;
  font-size: 1.5rem;
  margin-top: 1rem;
  font-family: cursive;
}
.footer_social{ 
  display: flex;
  text-align: center;
  flex-direction: row;
  margin: 0rem;
  font-size: 1.7rem;
}
.footer_social div{
  margin: 1rem;
  color: var(--color_Text);
  cursor: pointer;
}
.footer_social div:hover{
  color: aqua;
}
::placeholder {
  width: fit-content;
  font-weight: bold;
  padding: 1rem;
  font-size: 1.5rem;
  color: var(--color_Text);
}
@media only screen and (max-width: 767px) {
  html {
    font-size: 8.2px;
  }
  .curoser{
    display: none;
  }
  .sec-1{
    height:20vh;
  }
  .home img{
    display: none;
  }
  .curoser-lazy{
    display: none;
  }
  .title img{
    display: flex;
    flex-direction: row;
  }
  .logo {
    display: none;
  }
  svg {
    display: block;
  }
  .All_about img {
    display: none;
  }
  .All_contact div i {
    display: none;
  }
  .All_about p {
    width: 58%;
    font-size: 15px;
    margin-bottom: 11rem;
  }
  .All_skills {
    grid-template-columns: auto auto;
  }

  .All_contact div {
    width: 100%;
  }
  .question {
    width: 100%;
    font-size: 4rem;
  }
  form {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  html {
    font-size: 10px;
  }
  .All_about img {
    margin: auto;
  }
  .home img{
    margin: 14rem 0rem 0rem 18rem;
  }
  svg {
    display: none;
  }
  .sec {
    clip-path: none;
  }
  .All_contact div i {
    font-size: 29rem;
    padding: 0rem;
    margin: 2rem 2rem 1rem 0rem;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 2039px) {
  html {
    font-size: 14px;
  }
  .about {
    margin: 7.5rem auto;
  }
}

@media only screen and (min-width: 1900px) {
  html {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: var(--darkBgColor);
    color: #eee;
  }
  ul li a {
    color: #eee;
  }
  strong {
    color: var(--dark_Text);
  }
  .sec {
    background: #2c3333;
  }
  section .animate {
    background: var(--color_Text);
  }
  section .animate:hover {
    background: #05c1ff;
    box-shadow: 0px 0px 10px 11px #05c1ff;
  }
  section .animate i {
    color: aqua;
  }
  section .animate i:hover {
    color: rgb(55, 151, 151);
  }
} 
